<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>jaffr</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <%=  render 'layouts/navbar' %>

    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="span3">
          <%=  render 'layouts/sidebar' %>
        </div>
        <div class="span7">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
